$break-small:1000px;

// *** Button variables *** //
$button-background-color:#0099FF;
$button-color:white;
$button-font-family:'Lato', sans-serif;
$button-font-weight:300;

// *** Quote text variables *** //
$quote-color:#333333;
$quote-font-family:'Josefin Slab', serif;
$quote-font-weight:400;

body {
  max-width:100%;
  overflow-x:hidden;
}

// ****************************************************************************
// *** Get Quote Button *******************************************************
// ****************************************************************************

.quote-button {
  // Button
  background-color:$button-background-color;
  height:2em;
  text-align:center;
  box-shadow:0 0.5em 0.5em gray;
  width:25%;
  margin:0 auto;

  // Font
  font-size:3em;
  color:$button-color;
  font-family:$button-font-family;
  font-weight:$button-font-weight;

  @media(max-width:$break-small) {
    height:2.5em;
    width:90%;
  }
}

.quote-button:hover {
  cursor:pointer;
}

.quote-button > p {
  vertical-align:baseline;
  line-height:2em;
}

// ****************************************************************************
// *** Quote Text *************************************************************
// ****************************************************************************

.quote-text {
  margin:3em auto;
  width:50%;

  // Font
  color:$quote-color;
  font-size:1.5em;
  line-height:1.75em;

  @media(max-width:$break-small) {
    width:90%;
  }
}

#author {
  text-decoration:underline;
}

.horizontal-separator {
  visibility:hidden;
  width:90%;

  @media(max-width:$break-small) {
    visibility:visible;
  }
}

.vertical-separator {
  height:10em;
  width:1em;
  border-left:solid black 1px;
  float:left;
  margin-left:22em;
  margin-top:4em;

  @media(max-width:$break-small) {
    height:0;
    width:0;
    visibility:hidden;
  }
}
